[submodule "submodules/live/Live2017Links"]
	path = submodules/live/Live2017Links
	url = https://github.com/Ygoproco/Live2017Links
[submodule "submodules/live/LiveanimeLinks"]
	path = submodules/live/LiveanimeLinks
	url = https://github.com/Ygoproco/LiveanimeLinks
