settings.properties
ygopro*
img/*
imgOld/*
imgMain/*
src/Uploader*
*.apk
pics/*
*.obb
*.zip
pics_normal*
ygopro/*
cdbFiles/*
apps.properties

!img/empty.txt
!imgOld/empty.txt
!imgMain/empty.txt
!pics/empty.txt
