[submodule "live2017"]
	path = submodules/live/live2017
	url = https://github.com/Ygoproco/Live2017.git
[submodule "liveanime"]
	path = submodules/live/liveanime
	url = https://github.com/Ygoproco/Liveanime.git
