settings.yaml
custom_ai
ygopro*
img/*
imgOld/*
imgMain/*
src/Uploader*
*.apk
pics/*
*.obb
*.zip
pics_normal*
ygopro/*
cdbFiles/*
apps.yaml
1 

!img/empty.txt
!imgOld/empty.txt
!imgMain/empty.txt
!pics/empty.txt
